
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*.navbar-hover .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}*/
    .navbar .navbar-collapse {text-align: center;}
}

.content {
    padding: 16px;
}


/*NAVBAR EPPAISEUR*/
.navbar{
    padding: 0.25rem 1rem;
    /*Eppaiseur de base*/
    /*padding: 0.5rem 1rem;*/
}


/*Logo TOP*/
#logo{
    width: 5%;
    height: 5%;
    margin-right: 5.34vw;
    margin-left: 5.34vw;
}


/*FOOTER*/
footer{
    background-color: #4D4D4D;
    color: #EFEFEF;
    text-align: center;
    font-size: 1.6vh;
  }
  /*TEL*/
  a[href^="tel:"] {
    color: #EFEFEF;
    text-decoration: none;
  }
  a[href^="tel:"]:hover {
    background-color: transparent;
  }
  /*MAIL*/
  a[href^="mailto:"] {
    color: #EFEFEF;
    text-decoration: none;
  }
  a[href^="mailto:"]:hover {
    background-color: transparent;
  }

  footer #footer-address{
    margin-top: -1.6vh;
    margin-bottom: 0px;
  }

  footer #footer-clubname{
    padding-top: 2.1vh;
  }


  body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  }
  main {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 2.1vh;
    font-size: 1.8vh;
  }
  footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 2.1vh;
  }


/*ATTENTION SI ON ENL7VE LE STATIC NOUS AVONS UN DROPDOWN COMME SUR VERSION PC
.navbar-nav .dropdown-menu {
    position: static; 
    float: none;
}*/


/*Navbar STICKY*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.nav-item{
    margin-left: 20px;
}


/*Hover nav principale*/
a:hover{
    background: #28364a;
    border-radius: 12px;
  }

/*Pas de Hover sur le bouton principale*/
.navbar-brand:hover{
    background: transparent;
}

/*Hover nav secondaire (pour les sous catégorie)*/
.dropdown-item:hover{
    background-color: #28364a;
    color: #EFEFEF;
}

/*Hover focus nav secondaire*/
.dropdown-item:focus{
    background-color: #28364a;
    color: #EFEFEF;
}


/*List hover, id pour chaque taille de mot de la Nav
Lors du passage en mode mobile*/
/*La taille en px correspond a la taille des carractère*/
@media only screen and (max-width: 992px){
    #aprop-hover{
        width: 88px;
        padding-left: 6px;
        border-radius: 12px;
    }
    /*sous niveau*/
    .sous-aprop-hover{
        width: 172px;
    }

    #info-hover{
        width: 120px;
        padding-left: 6px;
        border-radius: 12px;
    }

    #technique-hover{
        width: 142px;
        padding-left: 6px;
        border-radius: 12px;
    }
    /*sous niveau*/
    .sous-tech-hover{
        width: 190px;
    }
    /*sous niveau*/
    .sous-kata-hover{
        width: 128px;
    }
    .sous-kihon-hover{
        width: 162px;
    }
    .sous-tanto-hover{
        width: 140px;
    }
    .sous-kids-hover{
        width: 154px;
    }

    #grade-hover{
        width: 150px;
        padding-left: 6px;
        border-radius: 12px;
    }

    #competition-hover{
        width: 114px;
        padding-left: 6px;
        border-radius: 12px;
    }
    /*sous niveau*/
    .sous-compet-hover{
        width: 162px;
    }
    /*sous niveau*/
    .sous-result-hover{
        width: 208px;
    }

    #galerie-hover{
        width: 58px;
        padding-left: 6px;
        border-radius: 12px
    }

    #contact-hover{
        width: 61px;
        padding-left: 6px;
        border-radius: 12px;
    }
}

