.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  }
  .dropdown-submenu {
      position:relative;
  }
  .dropdown-submenu>.dropdown-menu {
      top:0;
      left:100%;
      margin-top:-6px;
  }

  /* rotate caret on hover */
  .dropdown-menu > li > a:hover:after {
      text-decoration: underline;
      transform: rotate(-90deg);
  }


  nav{
      background-color: #ED9564;
      color: white ;
  }
  /*a:hover {
      background-color: #D30B20;
  }*/

  #navbarDropdown{
      color: white ;
  }
  footer {
      background-color: #4D4D4D;
      color: #EFEFEF;
  }

  div ul li.nav-item:hover {background: #D30B20;}

  .nav-item{
    border-radius: 0.35rem;
    font-size: 20px;
  }

  .dropdown-menu{
    background-color: #ED9564;
  }

  .dropdown-item:hover{
    background: #D30B20;
  }

  .navbar-nav{
    margin: auto;
  }



  .sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
  }

  #logo{
    width: 8%;
    height: 8%;
  }

  .centre-item{
    padding-left: 75px;
  }

  footer{
    background-color: #4D4D4D;
    color: #EFEFEF;
    text-align: center;
    font-size: 13px;
  }

  a[href^="tel:"] {
    color: #EFEFEF;
    text-decoration: none;
  }

  a[href^="mailto:"] {
    color: #EFEFEF;
    text-decoration: none;
  }

  footer #footer-address{
    margin-top: -15px;
    margin-bottom: 0px;
  }

  footer #footer-clubname{
    padding-top: 20px;
  }