
nav{
    background-color: #ED9564;
    color: white ;
}
/*a:hover {
    background-color: #D30B20;
}*/

#navbarDropdown{
    color: white ;
}
footer {
    background-color: #4D4D4D;
    color: #EFEFEF;

}

ul li:hover {background: #D30B20;}

